POSTGRES_USER= # логин для подключения к базе данных

POSTGRES_PASSWORD= # пароль для подключения к БД

POSTGRES_DB= # имя базы данных

DB_HOST= # название сервиса (контейнера)

DB_PORT= # порт для подключения к БД

ALLOWED_HOSTS= # хосты